@model BookStore.WebApp.Models.Book
@Styles.Render("~/Content/BookPage")
<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-4 img-thumbnail">
            <img class="cover_image" src="~/Content/images/Volkodav.jpg" />         
    </div>

    <div class="col-lg-7">
        <div class="page-header">
            <h1 class="BookTitle">@Model.Title<br/><small>@Model.Author</small></h1>
            <div class="rating">
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="glyphicon glyphicon-star-empty"></span>
                <span class="score">3.01</span>
            </div>
        </div>
        <div class="description col-lg-7">
            @Model.Description
            <hr />
        </div>
        <div class="col-lg-5 buy-container">
            <div class="thumbnail">
                <div class="price">@Model.Price ₽</div>
                <button id="cart-btn" class="cart_button">Добавить в корзину</button>
            </div>
        </div>
    </div>
</div>
<input id="bookId" type="hidden" value="@Model.Id" />

    