@model List<BookStore.WebApp.Models.BookInCart>

<div>Корзина</div>
<div class="row">
    @foreach (var book in Model)
    {
    <div class="section_content col-lg-2" id="@book.CartItemId">
        <button class="del_btn"><span class="glyphicon glyphicon-remove"></span></button>

        
            <div>
                <div class="thumbnail book-preview">
                        <img src="~/Content/images/cover.jpg" alt="...">
                        <div class="caption">
                            <a href="/BookPage/Index/@book.Id">

                                <h6 class="title">@book.Title<br /> @book.Author</h6>
                            </a>
                        </div>
                    
                </div>
            </div>
       
        <input id="itemId" type="hidden" value="@book.CartItemId" />
        <input type="hidden" name="bookId" value="@book.Id" />
    </div>
    }
</div>
@Html.RouteLink("Оформить заказ", new { controller = "Purchase", action = "Index" });
