@model List<BookStore.WebApp.Models.BookInCart>

<div>Корзина</div>
@foreach (var book in Model)
{
    <div class="section_content">
        <a href="/BookPage/Index/@book.Id">

            <div class="cover">
                <img class="cover_image" src="@book.CoverUrl" />

            </div>
            <h3 class="title">@book.Title<br /> @book.Author</h3>
            <div class="rating">
                <img class="rating_icon" src="~/Content/images/star.png" />
                <span class="score">@book.Rating</span>
                <span class="price"> @book.Price р.</span>
            </div>
        </a>
        <button class="btn"> Удалить из корзины </button>  
        <input id="itemId" type="hidden" value="@book.CartItemId" />  
    </div>
}
@section scripts {
    <script>
        $(document).ready(function () {
            $('.btn').click(function () {
                var itemId = $('#itemId').val();

                $.ajax({
                    url: '/CartItem/Delete',
                    type: 'DELETE',
                    arguments: { itemId: itemId},
                    success: function (result) {
                        alert("какашка");
                    }
                });
            });
        });
    </script>
}