@model BookStore.WebApp.Models.GenrePage

@{
    ViewBag.Title = "Genres";
}

<div class="genre">
    <div class="illustration">

    </div>
    <div class="title">
        @Model.Genre.Name
    </div>
    <div class="description">
        @Model.Genre.Description
    </div>
</div>

<div class="books">

    @foreach (var book in Model.Books)
    {
        <a href="/BookPage/Index/@book.Id">
            <div class="section_content">
                <div class="cover">
                    <img class="cover_image" src="@book.CoverUrl" />

                </div>
                <h3 class="title">@book.Title<br /> @book.Author</h3>
                <div class="rating">
                    <img class="rating_icon" src="~/Content/images/star.png" />
                    <span class="score">@book.Rating</span>
                    <span class="price"> @book.Price р.</span>
                </div>
            </div>
        </a>
    }
</div>
