@model BookStore.WebApp.Models.MainContentModel
@{
    ViewBag.Title = "Books";
}
<div class="book_section row">
    <h2>НОВОЕ</h2>
    
    @foreach (var book in Model.Novelties)
    {
        <a href="/BookPage/Index/@book.Id">
            <div class="section_content">
                <div class="cover">
                    <img class="cover_image" src="@book.CoverUrl" />

                </div>
                <h3 class="title">@book.Title<br /> @book.Author</h3>
                <div class="rating">
                    <img class="rating_icon" src="~/Content/images/star.png" />
                    <span class="score">@book.Rating</span>
                    <span class="price"> @book.Price р.</span>
                </div>
            </div>
        </a>
    }
    
</div>
<hr />
<div class="book_section row">
    <h2>ПОПУЛЯРНОЕ</h2>
    
        @foreach (var book in Model.Popular)
        {
            <a href="/BookPage/Index/@book.Id">
                <div class="section_content">
                    <div class="cover">
                        <img class="cover_image" src="@book.CoverUrl" />

                    </div>
                    <h3 class="title">@book.Title<br /> @book.Author</h3>
                    <div class="rating">
                        <img class="rating_icon" src="~/Content/images/star.png" />
                        <span class="score">@book.Rating</span>
                        <span class="price"> @book.Price р.</span>
                    </div>
                </div>
            </a>
         }

</div>
